
#Clear the influxdb folder date on host from old backups at 20:05 (8:05) UTC PM - from Monday to Sunday
05 20 * * 0-6 backup rm -rf /home/backup/influxdb/*

#Create influxdb telegraf database dumps at 20:06 (8:06) UTC PM - from Monday to Sunday 
06 20 * * 0-6 backup influxd backup -portable -database telegraf /home/backup/influxdb

#Create incremental influxdb telegraf database backup at 20:07 (8:07) UTC PM - from Monday to Sunday 
07 20 * * 0-6 backup  duplicity --no-encryption incremental /home/backup/influxdb rsync://kovalArt@backup.{{startup_name}}:/influxdb

#Create an full backup at 20:08 (8:08 PM) UTC - every Friday
08 20 * * 5 backup duplicity --no-encryption full /home/backup/influxdb/ rsync://kovalArt@backup.{{startup_name}}:/influxdb

#Delete old backups each month on 27th at 20:27 (8:27 PM) UTC
27 20 27 * * backup duplicity remove-older-than 1M rsync://kovalArt@backup.{{startup_name}}:/influxdb --force

