
19 19 * * 0-6 backup rm -rf /home/backup/influxdb/*
20 19 * * 0-6 backup influxd backup -portable -database telegraf /home/backup/influxdb
21 19 * * 0-6 backup duplicity --no-encryption full /home/backup/influxdb/ rsync://kovalArt@backup.infocare.io:/influxdb
22 19 * * 0-6 backup  duplicity --no-encryption incremental /home/backup/influxdb rsync://kovalArt@backup.infocare.io:/influxdb
