apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: 	http://prometheus.{{ startup_name }}:{{ prometheus_port }}/prometheus

  - name: InfluxDB
    type: influxdb
    access: proxy
    database: pinger
    url: http://influxdb.{{ startup_name }}:{{ influxdb_port }}
    jsonData:
      httpMode: POST

  - name: InfluxDB-telegraf
    type: influxdb
    access: proxy
    database: telegraf
    url: http://influxdb.{{ startup_name }}:{{ influxdb_port }}
    jsonData:
      httpMode: POST