apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    # Access mode - proxy (server in the UI) or direct (browser in the UI).
    url: 	http://kovalart-3:9090/prometheus

  - name: InfluxDB
    type: influxdb
    access: proxy
    database: pinger
    url: http://influxdb.infocare.io:8086

  - name: InfluxDB-telegraf
    type: influxdb
    access: proxy
    database: telegraf
    url: http://influxdb.infocare.io:8086