options {
	directory "/var/cache/bind";
	forwarders {
      {% for f in forwarder_ips %}
	    {{ f }};
      {% endfor %}
	};
    allow-query { {{ localhost }}; {{ local_network }}; {{ docker_network }}; };
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

key "transfer.key" {
  algorithm hmac-sha256;
  secret "{{ transfer_secret }}";
};

key "nsupdate.key" {
  algorithm hmac-sha256;
  secret "{{ nsupdate_secret }}";
};



